<h1> Create or Alter Table and Create or Replace View and Create ScreenFields  </h1>
<br><p> error
<%= @errmsg %>
</p></br>
<br><p> Create or ALter Table sql
<%= @strsql0 %>
</p></br>
<br><p> Create or ALter View sql
<%= @strsql1 %>
</p></br>
<!-- Rest of file omitted -->

