<%= <div id="grpsrc#{@nst_screenname_id}"></div> <table id="grptbl#{@nst_screenname_id}" class="scroll"></table> <div id="grptbl#{@nst_screenname_id}Pager" class="scroll" style="text-align:right;"></div>  %>
