<h1>ROblk  v081</h1>
<h1>login </h1>
<p><%= link_to 'login', [ :new, :user_session ]  %></p>
<p><%= link_to 'create user', [ :new, :user_registration ]  %></p>
<p><%= link_to 'recreate passsword', [ :new, :user_password ]  %></p>
<!--  ## <p>< #%  = link_to 'resend mail', [ :new, :user_confirmation ]  #% ></p>  -->
