<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<meta http-equiv="content-type" content="text/html;charset=UTF-8" > 

<script src="/assets/jquery-1.7.2.min.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery-ui.min1.8.js?body=1" type="text/javascript"></script>
<script src="/assets/jrails.js?body=1" type="text/javascript"></script>
<script src="/assets/rails.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery-1.7.2.min.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery-ui.min1.8.js?body=1" type="text/javascript"></script>
<script src="/assets/jrails.js?body=1" type="text/javascript"></script>
<script src="/assets/rails.js?body=1" type="text/javascript"></script>
<link href="/assets/jqgrid/themes/default/jquery-ui-1.10.3.custom.css?body=1" media="screen" rel="stylesheet" type="text/css" >
<title>Start: <%= controller.action_name %></title>
</head>

<body>
 <script type="text/javascript"> 
       jQuery(document).ready(function(){
                 jQuery("#radio_button td").on('click', function(){ 
                         var p_id = jQuery("#radio_button :checked").val(); 
                   window.open("/screen/index?id="+p_id+"&ss_id=", p_id);   
                           return false; }); })
</script>

  
  <%= yield  %>
       
 <%= render :partial => "devise/login_logout" %>
</body>
</html>
