@charset "utf-8";

/*

* Auther and Copyright
  KBMJ inc. (http://www.kbmj.com/)
*/


/*------------blog-title------------------*/
div#blog-title{
	background: url(/images/img1/blog_t.gif) no-repeat;
	height:30px;
    width:583px;
	border: 1px solid #cccccc;
    font-size: 110%;
	font-weight: bold;
	color: #ffffff;
    line-height: 30px;
	margin-bottom: 15px;
	padding-left: 10px;
}

/*------------タイトル、日付(本文)------------------*/

#prof_main {
	float: left;
	width: 555px;
}

.prof {
	width: 555px;
}
 
img.prof{
    width:70px;}
	
dl.prof dt{
	clear: left;
	float: left;
}

dl.prof dd{
	margin-left: 60px;
	margin-bottom: 0px;
	padding: 5px 0 0 10px;
}

dl.prof dd h2{
	margin-top: 5px;
	padding-left: 0px;
	font-size: 120%;
}

/*------------content_b------------------*/

p.writer_right{
    text-align:right;
    margin-bottom:3px;
}

#addclips{
    margin-bottom:5px;
}

#tb{
	color: #666666;
    margin: 20px 0;
}
    
#post_comment{
    width:560px;
    color: #666666;
}

.post_t {
	padding-left: 10px;
    margin-top:6px;
	background: url(/images/img1/side_list.gif) no-repeat 0 5px;
}

#comment {
	margin: 15px 0 5px 0;
}

	
/*------------item---------------*/
div.item{
	width:595px;
	margin-bottom: 15px;
	margin: 0;
}

div.item_contents{
	margin: 0 20px;
	padding-bottom: 20px;
	word-break:all;
}

div.item_head{
	height: 10px;
	background-image: url(/images/img1/item_head.gif);
	background-repeat: no-repeat;
	margin-bottom: 0;
	padding: 0;
	line-height: 0;
}

div.item_body{
	background-image: url(/images/img1/item_body.gif);
	background-repeat: repeat-y;
}

div.item_bottom{
	height: 10px;
	background-image: url(/images/img1/item_bottom.gif);
	background-repeat: no-repeat;
	margin-bottom: 15px;
}

#comments{
	margin-top:8px;
	font-size:90%;
}

.item_hr {
	margin: 15px 0 5px 0;
	border-top: 1px solid #b3b3b4;
	clear: both;
	}

    
 /*------------blog_css------------------*/  
.blue{
	overflow:auto;
    background-color:#E2F0FC;
    border:solid 1px #C5E2FD;
    padding:10px;
}

#blog_txt {
	line-height: 1.4;
}

#blog_txt h2,#blog_txt h3,#blog_txt h4 {
	margin-top: 10px;
	color: #0c5f93;
	font-size: 110%;
}

#blog_txt li {
	margin-left: 23px;
}
    
 /*------------googleado------------------*/      

 div#googleado{
    width:615px;
    text-align:center;
}

 /*------------recomend------------------*/      

#reco_box{
	margin: 15px 0px;
}

#reco_main{
	margin: 5px 0px;
	padding: 0 10px 0 0;
	border: 1px solid #cccccc;
	overflow: hidden;
}

#reco_img{
	float: left;
	height: 71px;
}

#reco_img img {
	float: left;
    width: 45px;
	height: 45px;
	margin: 12px;
	border: 1px solid #cccccc;
}

#reco_body{
	margin: auto 0 auto 71px;
	padding: 5px 0 5px 10px;
	border-left: 1px dotted #cccccc;
	min-height:71px;
	height: auto !important;
	height: 71px;
}

#reco_t{
	font-weight: bold;
}

p#reco_txt {
	font-size: 95%;
	line-height: 1.3;
}

 /*------------ranking------------------*/      

#rank_box ul{
	list-style:none;
}

#rank1 {
	background: url(/images/img1/crown01.gif)  #f2ffd0 no-repeat center left;
	list-style:none;
	padding: 4px 0 4px 28px;
}

#rank2 {
	background: url(/images/img1/crown02.gif) no-repeat center left;
	list-style:none;
	padding: 4px 0 4px 28px;
}

#rank3 {
	background: url(/images/img1/crown03.gif) #f2ffd0 no-repeat center left;
	list-style:none;
	padding: 4px 0 4px 28px;
}

#rank4 {
	background: url(/images/img1/rank04.gif) no-repeat center left;
	list-style:none;
	padding: 3px 0 3px 28px;
}

#rank5 {
	background: url(/images/img1/rank05.gif) #f2ffd0 no-repeat center left;
	list-style:none;
	padding: 3px 0 3px 28px;
}

#rank6 {
	background: url(/images/img1/rank06.gif) no-repeat center left;
	list-style:none;
	padding: 3px 0 3px 28px;
}

#rank7 {
	background: url(/images/img1/rank07.gif) #f2ffd0 no-repeat center left;
	list-style:none;
	padding: 3px 0 3px 28px;
}

#rank8 {
	background: url(/images/img1/rank08.gif) no-repeat center left;
	list-style:none;
	padding: 3px 0 3px 28px;
}

#rank9 {
	background: url(/images/img1/rank09.gif) #f2ffd0 no-repeat center left;
	list-style:none;
	padding: 3px 0 3px 28px;
}

#rank10 {
	background: url(/images/img1/rank10.gif) no-repeat center left;
	list-style:none;
	padding: 3px 0 3px 28px;
}

/* readmore
----------------------------------------------------*/

.readmore {
	float: right;
	height: 18px;
	padding: 1px 0 1px 20px;
	background: url(/images/img1/readmore.gif) no-repeat;
	line-height: 18px;
	margin-top: 5px;
}

.readmore a:link,.readmore a:visited {
	color:#007030;
	text-decoration: none;
}

.readmore a:active,.readmore a:hover {
	text-decoration: underline;
}

/* rss
----------------------------------------------------*/

#page {
	font-size: 105%;
	margin-bottom: 5px;
}

#rss {
	float: right;
}

#rss a {
  margin-left: 5px;
}

/* twitter
----------------------------------------------------*/

.box-twitter {
  height: 12px;
  margin-bottom: 15px;
  padding: 7px 0 7px 50px;
  background: url(/images/img1/bg-twitter.png) no-repeat left top;
  font-size: 12px;
  line-height: 1;
}
