.clearfix:after{
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}

.clearfix{
  zoom:1;
}

/* イベントページ
----------------------------------------------------*/
/* 一覧ページ */
#seminar_container {
	width: 830px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	margin: 10px auto;
}
#pan {
	font-size: 90%;
	color: #333333;
	padding-bottom: 5px;
	width: 608px;
	padding-left: 2px;
}

#fullcontents {
	border: 1px solid #999999;
	padding: 50px;
	width: 718px;
}
#fullcontents_nomgn {
	width: 760px;
	border: 1px solid #999999;
}

#event_detail {padding-left: 7px;
	width: 100%;
}
#event_detail td {
	font-size: 12px;
	padding-top: 7px;
	padding-right: 7px;
	padding-bottom: 7px;
	padding-left: 7px;
}
.seminar_title {
	padding-top: 7px;
	padding-right: 7px;
	padding-bottom: 7px;
	padding-left: 7px;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	background-color: #f0f0f0;
}

.semi_date {
	font-size: 15px;
	line-height: 23px;
	color: #0663C0;
	font-weight: bold;
}

.event_name {
	font-size: 15px;
	line-height: 23px;
	font-weight: 900;
	color: #4682B4;
	font-style: normal;
	position: relative;
	left: 12px;
}

.categoly {
padding-left: 20px;
}
.coments {
	font-size: 12px;
	font-style: normal;
	line-height: 140%;
	font-weight: normal;
	padding-top: 7px;
	padding-bottom: 7px
}


#event_detail .detail_A {
	text-align: center;
	width: 70px;
	padding-left: 7px;
	background-color: #dffbfd;
}
#event_detail .detail_B {
	text-align: center;
	width: 100px;
	padding-left: 7px;
	background-color: #dffbfd;
}
#event_detail .detail_C {
	text-align: center;
	width: 100px;
	padding-left: 7px;
	background-color: #dffbfd;
}
#event_detail .detail_D {
	text-align: center;
	width: 100px;
	padding-left: 7px;
	background-color: #dffbfd;
}

#event_detail .textA {
	width: 70px;
	text-align: center;
	padding-left: 7px;
	background-color: #dfe7fd;
}
#event_detail .textB {
	width: 100px;
	text-align: center;
	padding-left: 7px;
	background-color: #dfe7fd;
}
#event_detail .textC {
	width: 100px;
	text-align: center;
	padding-left: 7px;
	background-color: #dfe7fd;
}
#event_detail .textD {
	width: 100px;
	text-align: center;
	padding-left: 7px;
	background-color: #dfe7fd;
}

.style1 {color: #333333}

/* 詳細ページ */
#seminar_main {
	width: 775px;
	margin: 10px auto;
	text-align: center;
}

#seminar_main table {
	margin: 10px auto;
}

img.semi_main {
	border-color: gray;
	border-style: solid;
	border-width: 1px 0 0 0 ;
	color: gray;
}

p.semi_catch {
	color:#666666;
 	font-size:16px;
 	font-weight:bold;
	margin-bottom:0px;
	border-color: red;
	border-style: solid;
	border-width: 0 0 1px 7px;
}

p.semi_news {
	color:#333333;
	margin-bottom:0px;	
}

/* タイムテーブル */

p.semi_title {
	color:#333333;
 	font-size:12px;
 	font-weight:bold;
	margin:10px;
	border-color: gray;
	border-style: solid;
	border-width: 0 0 1px 0px;

}

p.semi_detail {
	color:#333333;
	font-size:12px;
	margin:20px;
}

.semi_time {       
	background-image: url(/images/event/table_bd.gif);
	background-repeat:repeat;
}

/* 講師紹介 */

p.semi_profile {
	color:#ffffff;
	margin:20px;
	font-size:12px;
}

p.semi_caption {
	color:#333333;
	font-size:12px;
}

p.semi_comment {	
	color:#666666;
	font-size:12px;
	width:85%;
	margin-top:15px;
	margin-left:20px;
	margin-bottom:15px;
}

p.semi_intro {
	width:95%;
	color:#333333;
 	font-size:80%;
}

p.semi_explain {
	width:95%;
	margin-left:10px;
	color:#333333;
 	font-size:70%;
}

font.semi_kbmj{
	margin:5px;	
	color:#333333;
	font-size:70%;
	font-weight:bold;
}

font.semi_name {
	margin-left:5px;	
	color:#333333;
	font-size:90%;
	font-weight:bold;
}

font.semi_data1 {
	margin-left:5px;	
	color:#ffffff;
 	font-size:70%;
	border-color: #ffffff;
	border-style: dashed;
	border-width: 0 0 1px 0;
}

p.semi_catchCopy {
	margin-left:3px;	
	color:#333333;
	font-size:80%;
	font-weight:bold;
}

p.semi_data2 {
	margin-left:5px;	
	color:#333333;
 	font-size:70%;
}

.semi_line {
	text-align:right;
	color:#333333;
	border-color: #333333;
	border-style: solid;
	border-width: 0 0 1px 0;
	font-size:14px;
	font-weight:bold;
	margin-bottom:35px;	
	
}

.semi_sign {
	margin:0px;	
	color:#333333;
}

font.semi_entry {
	color:#333333;
 	font-size:120%;
	font-weight:bold;
}

p.semi_seminar_title {
	width:95%;
	margin:8px;
	color:black;
 	font-size:100%;
 	font-weight:bold;
}

p.semi_explain2 {
	color:#000000;
	margin-left:8px;
	width:90%;
	font-size:80%;
}

/*-----イベント10/16---------*/

#event_wrap{
	margin: 20px;
	margin-left : auto;
	margin-right : auto;
	padding-bottom: 40px;
	width: 900px;
	border: 1px solid #ddd;
	color: #666;
	font-size: 14px;
	overflow: hidden;
}
#event_wrap .col_left{
	width: 620px;
	float: left;
}
#event_wrap .col_right{
	width: 160px;
	float: right;
}

#event_wrap a{
	color: #4682B4;
	font-weight: bold;
	text-decoration: none;
}
#event_wrap a:hover{
	text-decoration: underline;

}
#event_wrap .col_right a img{
	border: none;
}
#event_wrap h1{
	display: none;
	background : none;
}

#event_wrap .content{
	margin: 0px 50px 10px 50px;
}
#event_wrap .content h2{
	margin: 20px 0 0 0;
	color: #4682B4;
	font-size: 22px;
	display: block;
	font-weight: bold;
}
#event_wrap .content h3{
	margin: 20px 0 0 0;
	padding: 0 0 5px 0;
	background: none;
	font-size: 16px;
	color: #4682B4;
	border-bottom: 1px double #4682B4;
	display :block;
	font-weight: bold;
}
#event_wrap .content p{
	margin: 10px 0 0 0;
	font-size: 12px;
	line-height: 1.25em;
}
#event_wrap .content p.larger{
	margin: 15px 0 0 0;
	font-size: 14px;
	line-height: 1.4em;
}

#event_wrap .block{
	margin: 20px 0 0 0;
}

/* 申込ブロック */

#event_wrap .block_order{
}
#event_wrap .block_order p{
	font-size: 12px;
}
#event_wrap .block_order .block_property{
	border: 1px solid #eee;
	padding: 10px;
}
#event_wrap .block_order .block_property p{
	font-size: 10px;
}
#event_wrap .block_order .order_button{
	margin: 20px 0 0 0;
	text-align: center;
}


/* BUTTONS */

#event_wrap .block_order .order_button{
	margin-left: auto;
	margin-right: auto;
}
#event_wrap .block_order .order_button a.button{
	display: block;
	float: left;
	border:2px solid #ff9900;
	margin-left:10px;
	padding:3px 10px;
	text-align:center;
	background-color:#FFE7B8;
	color:#cc0000;
	font-size:14px;
	font-weight:bold;
	line-height:1.5em;

}

/* イベント概要 */
#event_wrap .block_overview dt{
	clear: left;
	float: left;
	width: 8em;
	margin: 0 0 5px 0;
	font-weight: bold;
	color: #000;
}
#event_wrap .block_overview dd{
	margin: 5px 0 0 10em;
}
#event_wrap .block_session table{
	width: 100%;
	border: 1px solid #CCCCCC;
	border-collapse: separate;
	border-spacing: 1px;
}
#event_wrap .block_session th {
	padding: 5px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: #eee;
}
#event_wrap .block_session th.time {
	text-align: center;
	font-size: 12px;
}
#event_wrap .block_session td {
	padding: 5px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
}
#event_wrap .block_session td.session{
	vertical-align: top;
}
#event_wrap .block_session td.session .semi_title {
	font-weight: bold;
	color: #000;
}
#event_wrap .block_session td.session .summary {
	margin: 10px 0 0 0;
	font-size: 12px;
	line-height: 1.2em;
}
#event_wrap .block_session td.session .speaker{
	margin: 10px 0 0 0;
	font-size: 11px;
}
#event_wrap .block_session td.session .speaker img{
	float: left;
	margin: 0 10px 5px 0;
}
#event_wrap .block_session td.session .speaker .name{
	color: #000;
}




/* 右側領域 */

.sponsored dt{
	margin: 20px 0 0 0;
	border: 1px solid #666;
	border-left: none;
	border-right: none;
	color: #000;
	font-size: 12px;
	text-align: center;
}
.sponsored dd{
	margin: 10px 0 0 0;
	text-align: center;
	font-size: 12px;

}
.sponsored dd a{
	font-weight: normal;
	color: #666;
	text-decoration: none;
}

/* 参加申し込み欄*/

#entry_main {
	margin-top: 20px; 
}

#entry_ok {
	width: 350px;
	text-align: right;
	padding-right: 10px;
	float: left;
}

#entry_deny {
	width: 250px;
	text-align: left;
	padding-left: 10px;
	float: left;
}

/* 参加申し込みページ */

#entry_page {
	width: 550px;
	margin: 10px auto 0;
	text-align: center;
}

#entry_page h3 {
	text-align: center;
	font-size: 110%;
}

#entry_page table {
	margin: 0 auto;
}

#entry_txt2 {
	font-size: 12px;
	color: #666666;
	text-align: center;
	line-height: 1.4;
	margin: 15px;
}

#entry_tb th {
	background-color: #666666;
	color: #ffffff;
	padding: 4px 0;
	text-align: center;
}

#entry_tb tr {
	background-color: #99ccff;
}

.entry_center {
	text-align: center;
	padding: 4px 0;
}