/* はてな記法対応CSS */
.section h3 {
  font-size: 120%;
  color: #0C5F93;
  background: #E2F0FC;
  margin: 5px 0px 7px;
  padding: 6px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
}

.section h4 {
  font-size: 110%;
  border-bottom: 1px solid #DEDEDE;
  color: #0C5F93;
  margin: 10px 0px 5px;
  padding-bottom: 2px;
}

.section h5 {
  font-size: 100%;
  margin-top: 7px;
}

.section p {
  margin: 0px;
  padding: 0px;
}

.section ol {
  list-style-type: decimal;
}

.section ul {
  list-style-type: square;
}

.section li {
  margin-left: 23px;
}

.section blockquote {
  border: 1px solid #BEBEBE;
  margin: 10px;
  padding: 5px;
}

.section dl {
  margin-left: 0px;
  padding-left: 10px;
}

.section dd {
  margin-left: 25px;
}

.section table {
  border-collapse: collapse;
  border: solid 1px #CECECE;
  font-size: 90%;
  margin: 10px;
}

.section th {
  background: #E8F8FF none repeat scroll 0 0;
  border: solid 1px #CECECE;
  padding: 3px 5px;
}

.section td {
  border: solid 1px #CECECE;
  padding: 3px 5px;
}

.section pre {
  background: #F3F3F3 none repeat scroll 0 0;
  border:solid 1px #DEDEDE;
  margin: 10px;
  padding: 7px;
}

.section pre.hatena-super-pre {
  background: #E8F8FF none repeat scroll 0 0;
  border:solid 1px #C5E2FF;
  margin: 10px;
  padding: 7px;
}
