div.google_afc {
  font-size: 90%;
  text-align: left;
}

div.google_afc .google_ads_by {
  margin: 1em 0.5em;
  font-size: 90%;
  color: rgb(102, 102, 102);
  font-weight: bold;
}

div.google_afc .google_ads_by a {
  color: rgb(102, 102, 102);
  text-decoration: none;
}

div.google_afc dl {
  margin: 0.5em 0.5em;
  line-height: 135%;
}

div.google_afc dt a {
  text-decoration: underline;
}

div.google_afc .visible_url a {
  font-size: 90%;
  color: rgb(153, 153, 153);
  margin-left: 1em;
  text-decoration: none;
}

div.google_afc dd {
  font-size: 90%;
  margin-bottom: 0.3em;
  margin-left: 0pt;
}

div.google_afc dd a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}


/**************************************************/
/* for rectangle */
div.google_afc_rectangle {
  font-size: 80%;
  text-align: left;
  width: 300px;
}

div.google_afc_rectangle * {
  padding: 0px;
  margin: 0px;
}

div.google_afc_rectangle .google_ads_by {
  font-size: 90%;
  margin: 1em 0.5em;
  color: rgb(102, 102, 102);
  font-weight: bold;
}

div.google_afc_rectangle .google_ads_by a {
  color: rgb(102, 102, 102);
  text-decoration: none;
}

div.google_afc_rectangle dl {
  margin: 0.2em 0.5em;
  font-size: 100%;
}


div.google_afc_rectangle dt a {
  text-decoration: underline;
  font-weight: bold;
  font-size: 100%;
}

div.google_afc_rectangle .visible_url a {
  text-decoration: none;
  font-size:90%;
}

div.google_afc_rectangle dd {
  margin-left: 0pt;
  margin-bottom: 1em;
  font-size: 100%;
}

div.google_afc_rectangle dd a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}


/* ===== google_afc_blocklink_rectangle ===== */

div.google_afc_blocklink_rectangle {
  text-align: left;
  width: 300px;
}

div.google_afc_blocklink_rectangle * {
  padding: 0px;
  margin: 0px;
}

div.google_afc_blocklink_rectangle .google_ads_by {
  font-size: 70%;
  margin: 20px 10px 10px 15px;
  color: rgb(102, 102, 102);
  font-weight: normal;
}

div.google_afc_blocklink_rectangle .google_ads_by a {
  color: rgb(102, 102, 102);
  text-decoration: none;
}

div.google_afc_blocklink_rectangle ul{
  list-style: none;
  padding: 0;
  margin: 0 10px;
}

div.google_afc_blocklink_rectangle ul li{
  display: inline;
}


div.google_afc_blocklink_rectangle ul li a{
  display: block;
  padding: 5px;
  text-decoration: none;
}

div.google_afc_blocklink_rectangle ul li a:hover{
  background: #ffffcc;
}

div.google_afc_blocklink_rectangle ul li a span.title {
  text-decoration: underline;
  padding-bottom: 3px;
}

div.google_afc_blocklink_rectangle ul li a span.summary{
  font-size: 80%;
  line-height: 1.35;
  color: #000;
  display: block;
}

div.google_afc_blocklink_rectangle ul li a span.visible_url{
  color: #009900;
  font-size: 80%;
  line-height: 1.35;
}

/* ===== google_affc_image ===== */

div.google_afc_image table.afc_footer {
  margin: 0;
  padding-top: 2px;
  font-size: 80%;
}

div.google_afc_image table.afc_footer a {
/* text-decoration: underline; */
}

div.google_afc_image span.google_ads_by {
  text-align: right;
  font-size: 80%; 
}

div.google_afc_image span.google_ads_by a {
  color: rgb(102, 102, 102);
  text-decoration: none;
}
