<table border=3 width=1250 align=center>
 <caption>【機能一覧】 　　　　実行環境 :<%= ENV["RACK_ENV"]   %> <%= if ENV["RACK_ENV"] == "development" then  ENV["BUNDLE_GEMFILE"] else "" end %>　</caption>
 <tr bgcolor="#FFA500">
  <th>分類<br></th>
  <th>機能</th>
 </tr>
<% @cate_list.each do |i| %>
 <tr align=center>
  <td> <%= i[1] %></td>
  <td>
      <form action="#" style="display:inline;">
      <% i[2].each do |key,val| %>
      <%=  button_to   "#{val}",{:controller  =>  'screen', :id => key.to_s},:method => 'get'   %>
      <% end %>
      </form>
  </td>
 </tr>
<% end %>
</table>
