<% if @options[:grp_search_form] == true %>
<%= render :inline=> %Q|<div  id="grpsrc#{@nst_screenname_id}"  > 
</div> 
<table   id="grptbl#{@nst_screenname_id}"  class="scroll" >
</table> 
<div  id="grptbl#{@nst_screenname_id}Pager" class="scroll" style="text-align:right;"   >
</div>|  %>
<% end %>
<%=raw jqgrid("#{@disp_screenname_name}", "#{@nst_screenname_id}", "/screen/disp",  @gridcolumns, @options,@scriptopt,@extbutton,@extdiv_id,form_authenticity_token.to_s) %>

