/* -------------------------------
           MISCELLANEOUS
------------------------------  */

#latest h4 {
  color: #666;
}


/* -----      sidebar     ----- */

#sidebar .widget {
  margin-bottom: 1em;
}

#sidebar h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  text-transform: uppercase;
  margin: .5em 0;
}


/* -----    commentlist   ----- */

.commentlist .trackback,
.commentlist .pingback,
.commentlist .comment {
  border-top: 1px solid #DDD;
  padding: 0;
  margin: 1em 0 0 0;
}


.commentlist .comment-meta {
  padding-bottom: .5em;
}

.commentlist .comment-author,
.commentlist .comment-meta {
  background: #F8F8F8;
  padding: 0;
  font-size: .9em;
}

.commentlist .comment-author {
  padding-top: .5em;
}

.commentlist .comment-meta {
  padding-bottom: .5em;
}

.commentlist .comment-author .avatar {
  float: left;
  margin: .5em;
}

.commentlist .pingback .comment-author,
.commentlist .pingback .comment-meta {
  padding-left: .5em;
}

.commentlist .comment-author-weppos .comment-author,
.commentlist .comment-author-weppos .comment-meta {
  background: #ffffcc;
}

.commentlist .comment .comment {
  margin-left: 1.5em;
}

.commentlist .depth-1 {
  margin-bottom: 2em;
}


/* -------------------------------
              WIDGETS
------------------------------- */

/* -----   widget-quotes  ----- */

#widget-quotes blockquote {
  margin: 0 0 .5em 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#widget-quotes .author {
  font-style: italic;
}

/* -----  weppos-summary   ----- */

.widget-weppos-summary ul {
  list-style-type: none;
  margin: 10px 0;
}

.widget-weppos-summary ul li {
  margin-left: 0px;
}

.widget-weppos-summary ul.subscribe li.feed {
  padding: 0 0 2px 25px;
  background: url("/images/icons/subscribe-feed.png") no-repeat scroll 0 50% transparent;
}

.widget-weppos-summary ul.subscribe li.twitter {
  padding: 0 0 2px 25px;
  background: url("/images/icons/subscribe-twitter.png") no-repeat scroll 0 50% transparent;
}


/* -------------------------------
             WORDPRESS
------------------------------  */

.aligncenter,
div.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  border: 1px solid #ddd;
  text-align: center;
  background-color: #f3f3f3;
  padding-top: 4px;
  margin: 10px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.wp-caption img {
  margin: 0;
  padding: 0;
  border: 0 none;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  padding: 0 4px 5px;
  margin: 0;
}
/* End captions */

