 jQuery('#ganttchartid').replaceWith('<div id="ganttchartid"> <%= %Q|<div id="gantEditorTemplates" >
  <div class="__template__" type="GANTBUTTONS"><!--
<div class="ganttButtonBar">
<h1 style="float:left">task tree/gantt</h1>
<div class="buttons">
<button onclick="$('#workSpace').trigger('undo.gantt');" class="button textual" title="undo"><span class="teamworkIcon">&#39;</span></button>
<button onclick="$('#workSpace').trigger('redo.gantt');" class="button textual" title="redo"><span class="teamworkIcon">&middot;</span></button>
<span class="ganttButtonSeparator"></span>
<button onclick="$('#workSpace').trigger('addAboveCurrentTask.gantt');" class="button textual" title="insert above"><span class="teamworkIcon">l</span></button>
<button onclick="$('#workSpace').trigger('addBelowCurrentTask.gantt');" class="button textual" title="insert below"><span class="teamworkIcon">X</span></button>
<span class="ganttButtonSeparator"></span>
<button onclick="$('#workSpace').trigger('indentCurrentTask.gantt');" class="button textual" title="indent task"><span class="teamworkIcon">.</span></button>
<button onclick="$('#workSpace').trigger('outdentCurrentTask.gantt');" class="button textual" title="unindent task"><span class="teamworkIcon">:</span></button>
<span class="ganttButtonSeparator"></span>
<button onclick="$('#workSpace').trigger('moveUpCurrentTask.gantt');" class="button textual" title="move up"><span class="teamworkIcon">k</span></button>
<button onclick="$('#workSpace').trigger('moveDownCurrentTask.gantt');" class="button textual" title="move down"><span class="teamworkIcon">j</span></button>
<span class="ganttButtonSeparator"></span>
<button onclick="$('#workSpace').trigger('zoomMinus.gantt');" class="button textual" title="zoom out"><span class="teamworkIcon">)</span></button>
<button onclick="$('#workSpace').trigger('zoomPlus.gantt');" class="button textual" title="zoom in"><span class="teamworkIcon">(</span></button>
<span class="ganttButtonSeparator"></span>
<button onclick="$('#workSpace').trigger('deleteCurrentTask.gantt');" class="button textual" title="delete"><span class="teamworkIcon">&cent;</span></button>
&nbsp; &nbsp; &nbsp; &nbsp;
<button onclick="saveGanttOnServer();" class="button first big" title="save">save</button>
</div></div>
--></div>

  <div class="__template__" type="TASKSEDITHEAD"><!--
<table class="gdfTable" cellspacing="0" cellpadding="0">
<thead>
<tr style="height:40px">
<th class="gdfColHeader" style="width:35px;"></th>
<th class="gdfColHeader" style="width:25px;"></th>
<th class="gdfColHeader gdfResizable" style="width:100px;">#{sub_blkgetpobj("itm_name","view_field")} </th>
<th class="gdfColHeader gdfResizable" style="width:50px;">item_code</th>
<th class="gdfColHeader gdfResizable" style="width:30px;">loca_name</th>
<th class="gdfColHeader gdfResizable" style="width:20px;">loca_code</th>
<th class="gdfColHeader gdfResizable" style="width:30px;">pare_num</th>
<th class="gdfColHeader gdfResizable" style="width:30px;">chil_num</th>
<th class="gdfColHeader gdfResizable" style="width:50px;">start</th>
<th class="gdfColHeader gdfResizable" style="width:50px;">end</th>
<th class="gdfColHeader gdfResizable" style="width:30px;">dur.</th>
<th class="gdfColHeader gdfResizable" style="width:50px;">dep.</th>
<th class="gdfColHeader gdfResizable" style="width:200px;">assignees</th>
</tr>
</thead>
</table>
--></div>

  <div class="__template__" type="TASKROW"><!--
<tr taskId="(#=obj.id#)" class="taskEditRow" level="(#=level#)">
<th class="gdfCell edit" align="right" style="cursor:pointer;"><span class="taskRowIndex">(#=obj.getRow()+1#)</span> <span class="teamworkIcon" style="font-size:12px;" >e</span></th>
<td class="gdfCell" align="center"><div class="taskStatus cvcColorSquare" status="(#=obj.status#)"></div></td>

<td class="gdfCell indentCell" style="padding-left:(#=obj.level*10#)px;"><input type="text" name="itm_name" value="(#=obj.itm_name#)" style="(#=obj.level>0?'border-left:2px dotted orange':''#)"></td>
<td class="gdfCell"><input type="text" name="itm_code" value="(#=obj.itm_code#)"></td>

<td class="gdfCell"><input type="text" name="loca_name" value="(#=obj.loca_name#)" ></td>
<td class="gdfCell"><input type="text" name="loca_code" value="(#=obj.loca_code#)"></td>
<td class="gdfCell"><input type="text" name="pare_num" value="(#=obj.pare_num#)"></td>
<td class="gdfCell"><input type="text" name="chil_num" value="(#=obj.chil_num#)"></td>

<td class="gdfCell"><input type="text" name="start" value="" class="date"></td>
<td class="gdfCell"><input type="text" name="end" value="" class="date"></td>
<td class="gdfCell"><input type="text" name="duration" value="(#=obj.duration#)"></td>
<td class="gdfCell"><input type="text" name="depends" value="(#=obj.depends#)" (#=obj.hasExternalDep?"readonly":""#)></td>
<td class="gdfCell taskAssigs">(#=obj.getAssigsString()#)</td>
</tr>
--></div>

  <div class="__template__" type="TASKEMPTYROW"><!--
<tr class="taskEditRow emptyRow" >
<th class="gdfCell" align="right"></th>
<td class="gdfCell" align="center"></td>
<td class="gdfCell"></td>
<td class="gdfCell"></td>
<td class="gdfCell"></td>
<td class="gdfCell"></td>
<td class="gdfCell"></td>
<td class="gdfCell"></td>
<td class="gdfCell"></td>
</tr>
--></div>

  <div class="__template__" type="TASKBAR"><!--
<div class="taskBox" taskId="(#=obj.id#)" >
<div class="layout (#=obj.hasExternalDep?'extDep':''#)">
<div class="taskStatus" status="(#=obj.status#)"></div>
<div class="taskProgress" style="width:100%; background-color:(#=obj.progress>100?'red':'rgb(153,255,51);'#);"></div>
<div class="milestone (#=obj.startIsMilestone?'active':''#)" ></div>

<div class="taskLabel"></div>
<div class="milestone end (#=obj.endIsMilestone?'active':''#)" ></div>
</div>
</div>
--></div>


  <div class="__template__" type="CHANGE_STATUS"><!--
<div class="taskStatusBox">
<div class="taskStatus cvcColorSquare" status="STATUS_ACTIVE" title="active"></div>
<div class="taskStatus cvcColorSquare" status="STATUS_DONE" title="completed"></div>
<div class="taskStatus cvcColorSquare" status="STATUS_FAILED" title="failed"></div>
<div class="taskStatus cvcColorSquare" status="STATUS_SUSPENDED" title="suspended"></div>
<div class="taskStatus cvcColorSquare" status="STATUS_UNDEFINED" title="undefined"></div>
</div>
--></div>


  <div class="__template__" type="TASK_EDITOR"><!--
<div class="ganttTaskEditor">
<table width="100%">
<tr>
<td>
<table cellpadding="5">
<tr>
<td><label for="loca_code">loca_code</label><br><input type="text" name="loca_code" id="loca_code" value="" class="formElements"></td>
</tr><tr>
<td><label for="loca_name">name</label><br><input type="text" name="loca_name" id="loca_name" value="" size="20" class="formElements"></td>
</tr>
<tr></tr>

<td><label for="itm_code">itm_code</label><br><input type="text" name="itm_code" id="itm_code" value="" class="formElements"></td>
</tr><tr>
<td><label for="itm_name">name</label><br><input type="text" name="itm_name" id="itm_name" value="" size="20" class="formElements"></td>
</tr>
<tr></tr>

<td><label for="pare_num">pare_num</label><br><input type="text" name="pare_num" id="pare_num" value="" class="formElements"></td>
</tr><tr>
<td><label for="chil_num">name</label><br><input type="text" name="chil_num" id="chil_num" value=""  class="formElements"></td>
</tr>
<tr></tr>



<td>
<label for="description">description</label><br>
<textarea rows="5" cols="30" id="description" name="description" class="formElements"></textarea>
</td>
</tr>
</table>
</td>
<td valign="top">
<table cellpadding="5">
<tr>
<td colspan="2"><label for="status">status</label><br><div id="status" class="taskStatus" status=""></div></td>
<tr>
<td colspan="2"><label for="progress">progress</label><br><input type="text" name="progress" id="progress" value="" size="3" class="formElements"></td>
</tr>
<tr>
<td><label for="start">start</label><br><input type="text" name="start" id="start" value="" class="date" size="10" class="formElements"><input type="checkbox" id="startIsMilestone"> </td>
<td rowspan="2" class="graph" style="padding-left:50px"><label for="duration">dur.</label><br><input type="text" name="duration" id="duration" value="" size="5" class="formElements"></td>
</tr><tr>
<td><label for="end">end</label><br><input type="text" name="end" id="end" value="" class="date" size="10" class="formElements"><input type="checkbox" id="endIsMilestone"></td>
</table>
</td>
</tr>
</table>

<h2>assignments</h2>
<table cellspacing="1" cellpadding="0" width="100%" id="assigsTable">
<tr>
<th style="width:100px;">name</th>
<th style="width:70px;">role</th>
<th style="width:30px;">est.wklg.</th>
<th style="width:30px;" id="addAssig"><span class="teamworkIcon" style="cursor: pointer">+</span></th>
</tr>
</table>

<div style="text-align: right; padding-top: 20px"><button id="saveButton" class="button big">save</button></div>
</div>
--></div>


  <div class="__template__" type="ASSIGNMENT_ROW"><!--
<tr taskId="(#=obj.task.id#)" assigId="(#=obj.assig.id#)" class="assigEditRow" >
<td ><select name="resourceId" class="formElements" (#=obj.assig.id.indexOf("tmp_")==0?"":"disabled"#) ></select></td>
<td ><select type="select" name="roleId" class="formElements"></select></td>
<td ><input type="text" name="effort" value="(#=getMillisInHoursMinutes(obj.assig.effort)#)" size="5" class="formElements"></td>
<td align="center"><span class="teamworkIcon delAssig" style="cursor: pointer">d</span></td>
</tr>
--></div>

</div>
<script type="text/javascript">
    jQuery(document).ready(function(){
    var ge = new GanttMaster();
    ge.init(jQuery("#workSpace"));
    var workSpace = jQuery("#workSpace");
    workSpace.css({width:jQuery(window).width() - 20,height:jQuery(window).height() - 250});
    ge.loadProject(#{@ganttdata});
    });
     </script>
</div>|.gsub(/\n/," ") %>')
